<template>
 <div>
  <div class="container">
   <div class="row g-0 mt-4">
    <div class="card p-5 mt-3 mb-3">
     <div class="d-flex align-items-center">
       <div class="d-flex flex-column me-auto mt-2">
         <h5 class="text-violet fw-bold">Appointments</h5>
         <p class="mb-4"><small>Here are your appointments</small></p>
       </div>
       <div class="d-flex flex-column mt-2">
         <button class="btn btn-primary" v-on:click="$bvModal.show('requestAppointmentModal')"><i class="bi bi-calendar-plus"></i> Request</button>
       </div>
     </div>
      <vue-cal :confirm="true" active-view="day" :events="appointments" style="height: 450px" :on-event-click="onEventClick"/>
    </div>
   </div>

   <div class="row g-0 mt-4">
     <div class="card p-5 mt-3 mb-3">
      <h5 class="text-primary pt-4">Appointment Request</h5>
      <p class="text-muted">Here are the list of your appointment request</p>

      <div class="table-responsive mt-4">
        <b-skeleton-table
          v-if="initialLoading && userappointments == 0"
          :rows="4"
          :columns="6"
          :table-props="{ bordered: false, striped: false }"
        ></b-skeleton-table>
        <table v-if="!initialLoading" class="table table-hover">
          <thead>
            <tr>
              <th scope="col" class="text-nowrap">Type</th>
              <th scope="col">Content</th>
              <th scope="col">Start</th>
              <th scope="col" class="text-nowrap">End</th>
              <th scope="col" class="text-nowrap">Status</th>
              <th scope="col" class="text-nowrap">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(appointment, i) in userappointments" :key="i">
              <td class="text-nowrap">{{appointment.type}}</td>
              <td>{{appointment.content}}</td>
              <td class="text-nowrap">{{appointment.start}}</td>
              <td class="text-nowrap">{{appointment.end}}</td>
              <td class="text-nowrap">{{appointment.status}}</td>
              <td class="text-nowrap">
                <a v-on:click.prevent="showInfo = appointment; $bvModal.show('showInfoModal')" class="btn btn-primary btn-sm me-2" href="">View</a>
                <a v-if="appointment.status == 'Pending'" v-on:click.prevent="selectedEvent.id = appointment.id; $bvModal.show('deleteModal')" class="btn btn-danger btn-sm me-2" href="">Cancel</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
     </div>
   </div>
  
  </div>

 <!-- SHOW INFO MODAL --->
  <b-modal id="showInfoModal" centered title="Appointment Info">
    <div class="row ps-2 pe-2">
      <div class="col">
        <h5>Appointment Info</h5>
        <h6>Name: {{showInfo.type}}</h6>
        <h6>Schedule: {{showInfo.start | moment}} - {{showInfo.end | moment}}</h6>
        <h6>Description: {{showInfo.content}}</h6>
        <h6>Status:  <small><span :class="showInfo.status == 'Approved' ? 'bg-success text-light rounded-pill ps-2 pe-2' : 'text-light ps-2 pe-2 rounded-pill bg-secondary'">{{showInfo.status}}</span></small></h6><br/>        
      </div>
    </div>
    <template #modal-footer = {cancel} >
      <b-button variant="success" @click="cancel()" :disabled="isLoading">
        Okay
      </b-button>
    </template>
   </b-modal>

   <!-- SHOW INFO MODAL --->
  <b-modal id="showEventInfoModal" centered title="Event Info">
    <div class="row p-3">
      <div class="col">
        <h6>Name: {{selectedEvent.type}}</h6>
        <h6>Schedule: {{selectedEvent.start | moment}} - {{selectedEvent.end | moment}}</h6>
        <h6>Description: {{selectedEvent.content}}</h6>
        <h6>Status: {{selectedEvent.status}}</h6>
      </div>
    </div>
    <template #modal-footer = {cancel} >
      <b-button variant="danger" size="sm" @click="cancelAppointment" :disabled="isLoading" v-if="selectedEvent.status == 'Pending'"> Cancel  </b-button>
      <b-button variant="success" size="sm" @click="cancel()" :disabled="isLoading">
        Okay
      </b-button>
    </template>
   </b-modal>

     <!-- DELETE MODAL --->
  <b-modal id="deleteModal" centered title="Confirm Delete">
    <p class="">Are you sure you want to delete this?</p>
    <template #modal-footer = {cancel} >
      <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
      <b-button variant="danger" size="sm" v-on:click.prevent="cancelAppointment" :disabled="isLoading">
        Delete 
       <div class="spinner-border text-white spinner-border-sm" role="status" v-if="isLoading">
       </div>
      </b-button>
    </template>
   </b-modal>

    <!-- Add Appointment Modal --->
  <b-modal id="requestAppointmentModal" centered title="Request Appointment">
   <div class="row pe-3 ps-3">
    <div class="col">
     <label for="item">Appointment Type</label>
     <select v-model="data.type" class="form-select">
       <option value="Dental Checkup">Dental Checkup</option>
       <option value="Appointment Type 1">Appointment Type 1</option>
       <option value="Appointment Type 2">Appointment Type 2</option>
       <option value="Appointment Type 3">Appointment Type 3</option>
     </select>
     <label for="description">Description</label>
      <input v-model="data.description" id="description" type="text" class="form-control" placeholder="" aria-label="Remarks">
    </div>
   </div>
  <div class="row pe-3 ps-3">
    <label for="remarks">Select Schedule</label>
    <date-picker v-model="data.time" :disabled-date="disabledBeforeToday" range value-type="format" :format="'YYYY-MM-DD hh:mm a'" type="datetime"></date-picker>
  </div>
    <template #modal-footer = {cancel} >
      <b-button variant="primary" size="sm" @click="cancel()" :disabled="isLoading"> Cancel </b-button>
      <b-button variant="success" size="sm" v-on:click.prevent="saveAppointment" :disabled="isLoading">
        Save
        <div class="spinner-border text-white spinner-border-sm" role="status" v-if="isLoading">
       </div>
      </b-button>
    </template>
   </b-modal>
 </div>
</template>
<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import { mapState } from 'vuex'
import moment from 'moment'
import 'vue2-datepicker/index.css';
import DatePicker from 'vue2-datepicker';

export default {
  filters: {
    moment: function (date) {
      return moment(date).format('MMMM Do YYYY, h:mm a');
    }
  },
 components: {
   VueCal, DatePicker
	},
 data() {
  return{
    selectedEvent: {
      user: {
        info: {
          first_name: '',
          last_name: '',
        }
      }
    },
    data:{
      user_id: '',
      type: '',
      time: '',
      description: '',
    },
    showInfo: '',
    isLoading: false,
    initialLoading: false,
  }
 },
 async mounted(){
   this.initialLoading = true
   await this.$store.dispatch('auth/checkAuthUser')
   this.getAppointment()
   this.getUserAppointments()
   this.initialLoading = false
 },
 methods: {
   async getAppointment(){
     const res = await this.$store.dispatch('user/getAppointments')
   },
  async getUserAppointments(page = 1){
     await this.$store.dispatch('appointment/getUserAppointments', page)
   },
   async saveAppointment(){
    if(this.data.name == '') return this.$toast.error('Appointment Type is required')
    if(this.data.description == '') return this.$toast.error('Description is required')
    this.isLoading = true
    const res = await this.$store.dispatch('user/saveAppointment', this.data)
    if(res.status == 200){
     this.getAppointment()
     this.getUserAppointments()
     this.$toast.success("Appointment added successfully!")
     this.$bvModal.hide('requestAppointmentModal')
    }
    else if(res.status == 422)
    {
      this.$toast.error("Appointment at the specified schedule has an existing record!")
    }
    this.isLoading = false
   },
   async cancelAppointment(){
     this.isLoading = true
    const res = await this.$store.dispatch('user/cancelAppointment', this.selectedEvent.id)
    if(res.status == 200){
     this.$toast.success("Appointment cancelled successfully!")
     this.$bvModal.hide('showEventInfoModal')
     this.$bvModal.hide('deleteModal')
     this.getAppointment()
    }
    else if(res.status == 422) {
     this.$toast.error("Appointment cannot be cancelled")
    }
     this.isLoading = false

   },
   disabledBeforeToday(date){
     let d = new Date()
     d.setDate(d.getDate())
     return date < new Date(d.setHours(0, 0, 0, 0));
   },
   onEventClick(event, e){
    this.selectedEvent = event
    this.$bvModal.show('showEventInfoModal')
    e.stopPropagation()
   },
  },
  computed: {
    ...mapState('user', ['appointments']),
    ...mapState('appointment', ['userappointments'])
  }
}
</script>
