<template>
  <div>
   <Sidenav />
   <Navbar />
   <div class="content-container">
    <router-view name="userdashboard"/>
    <router-view name="clientappointment"/>
   </div>
  </div>
</template>
<script>
import Sidenav from '../components/Sidebar.vue'
import Navbar from '../components/Navbar.vue'
export default { 
  async mounted() {
    document.title = 'User Dashboard'
    await this.$store.dispatch('auth/checkAuthUser')
  },
  components: {Sidenav, Navbar}
}
</script>