<template>
  <div>
    <div class="hero ">
     <div class="d-flex justify-content-center align-items-center h-100">
      <div class="col-9 col-sm-8 col-md-7 col-lg-7 col-xl-7">
       <div class="card p-3">
         <h4 class="mb-3 mt-2 pe-3 ps-3">Register Account</h4>
         <div class="row pe-3 ps-3">
           <div class="col mt-2">
            <label for="firstname">First Name</label>
            <input v-model="login_data.first_name" id="firstname" type="text" class="form-control" placeholder="" aria-label="First name">
           </div>
           <div class="col mt-2">
            <label for="middlename">Middle Name</label>
            <input v-model="login_data.middle_name" id="middlename" type="text" class="form-control" placeholder="" aria-label="Middle name">
           </div>
          <div class="col mt-2">
            <label for="height">Last Name</label>
            <input v-model="login_data.last_name" id="lastname" type="text" class="form-control" placeholder="" aria-label="Last name">
           </div>
         </div>
         <div class="row pe-3 ps-3">
          <div class="col mt-3">
           <label for="gender">Select Gender</label>
           <select id="gender" v-model="login_data.gender" class="form-select">
            <option value="" disabled selected>Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
           </select>
          </div>
          <div class="col mt-3">
           <label for="height">Height (ft)</label>
            <input v-model="login_data.height" id="height" type="text" class="form-control" placeholder="" aria-label="Height">
          </div>
          <div class="col mt-3">
           <label for="weight">Weight (kl)</label>
            <input v-model="login_data.weight" id="weight" type="number" class="form-control" placeholder="" aria-label="Weight">
          </div>
         </div>
         <div class="row pe-3 ps-3">
          <div class="col mt-3">
            <label for="contactnumber">Contact Number</label>
            <input v-model="login_data.contact_number" id="contactnumber" type="number" class="form-control" placeholder="" aria-label="Contact number">
          </div>
          <div class="col mt-3">
            <label for="age">Age</label>
            <input v-model="login_data.age" id="age" type="number" class="form-control" placeholder="" aria-label="Age">
          </div>
          <div class="col mt-3">
            <label for="birthdate">Birth Date</label>
            <input v-model="login_data.birth_date" id="birthdate" type="date" class="form-control" placeholder="" aria-label="Birth Date">
          </div>
         </div>
         <div class="row pe-3 ps-3">
           <div class="col mt-2">
            <label for="studentno">Student No</label>
            <input v-model="login_data.id" id="studentno" type="text" class="form-control" placeholder="" aria-label="Email">
           </div>
           <div class="col mt-2">
            <label for="email">Email</label>
            <input v-model="login_data.email" id="email" type="text" class="form-control" placeholder="" aria-label="Email">
           </div>
           <div class="col mt-2">
            <label for="password">Password</label>
            <input v-model="login_data.password" id="password" type="password" class="form-control" placeholder="" aria-label="Password">
           </div>
         </div>        
         <router-link to="/register/attendee" class="mt-2 pe-3 ps-3"><small>Attendee Signup</small></router-link>
         <div class="d-flex justify-content-center mt-3">
          <div class="col-12 pe-3 ps-3">
           <button v-on:click.prevent="saveClient" class="btn btn-primary btn-100" :disabled="isLoading">
             Sign-Up 
             <i class="bi bi-arrow-right-circle" v-if="!isLoading"></i>
             <div class="spinner-border text-white spinner-border-sm" role="status" v-else>
             </div>
           </button>
          </div>
         </div>
       </div>
      </div>
     </div>
    </div>
  </div>
</template>
<script>
import {mapActions} from 'vuex'
export default {
  data() {
    return {
      data: {
        email: '',
        password: ''
      },
      adminSignup: false,
      isLoading: false,
      login_data: {
       first_name: '',
       middle_name: '',
       last_name: '',
       gender: '',
       contact_number: '',
       height: '',
       age: '',
       weight: '',
       birth_date: '',
       email: '',
       password: '',
       id:''
      },
    }
  },
  mounted() {
   document.title ="Register Account"
  },
  methods: {
    async saveClient(){

    if(this.login_data.first_name.trim() == '') return this.$toast.error('First Name is required')
    if(this.login_data.middle_name.trim() == '') return this.$toast.error('Middle Name is required')
    if(this.login_data.last_name.trim() == '') return this.$toast.error('Last Name  is required')
    if(this.login_data.gender == '') return this.$toast.error('Gender is required')
    if(this.login_data.contact_number == '') return this.$toast.error('Contact Number is required')
    if(this.login_data.email == '') return this.$toast.error('Email is required')
    if(this.login_data.password == '') return this.$toast.error('Password is required')
    this.isLoading = true

    const res = await this.$store.dispatch('auth/createAccount', this.login_data)
    console.log(res)
    if(res.status == 200){
     this.$toast.success('Account created successfully!')
     this.$router.push('/')
    }
    else {
      this.showError(res.data.errors)
      this.$bvModal.hide('newPatientModal')
    }
    this.isLoading = false

    this.clearData()
   },
   showError(data){
     for (const key of Object.keys(data)) {
       this.$toast.error(data[key][0]); 
     }
   },
   clearData(){ 
    this.login_data =  {
     first_name: '',
     middle_name: '',
     last_name: '',
     gender: '',
     contact_number: '',
     email: '',
     age: '',
     height: '',
     weight: '',
     birth_date: '',
     password: '',
    }
   }
  }
}
</script>
<style scoped>
.hero {
 height: 100vh;
 background: linear-gradient(to right, rgba(3, 39, 87, 0.733), rgba(3, 10, 49, 0.747)), url('~@/assets/images/bg-hero.jpg');
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 position: absolute;
 width: 100%;
}

.form-control:focus {
 box-shadow: 0 0 0 0.1rem rgb(13 110 253 / 25%) !important;
}

.register-button {
 position: absolute;
 right: 12%;
 top: 5%;
}

.btn-register {
 color: black;
 border-bottom: 0px solid #000;
 transition: all 250ms ease;
}

.btn-register:hover {
 color: rgb(55, 137, 214);
 
}


</style>