@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body, html {
 font-family: 'Open Sans', sans-serif !important;
 background: #ffffff;
}

h1,h2,h3,h4,h5,h6,p {
 margin-bottom: 0px !important;
}

.form-control:active {
 box-shadow: 0 0 0 0.1rem rgb(13 110 253 / 25%) !important;
}

a {
 text-decoration: none !important;
}

.sidenav {
 position: fixed;
 left: 0;
 top: 0;
 height: 100vh;
 width: 250px;
 background-color: #4381df;
}

.sidenav .logo {
 height: auto;
 max-width: 135px;
 left: 50%;
 transform: translateX(-50%);
 margin-top: 15px;
 margin-bottom: 15px;
 position: relative;

}

.sidenav a{
 display: flex;
 padding: 15px 40px;
 color: white;
}

.sidenav a:hover {
 background: #74aaec;
 color: white;
}

.sidenav a i {
 margin-right: 12px;
}

.router-link-active {
 background: #5b9cec;
}

.close {
 outline: none !important;
 border: 0px !important;
 background: white !important;
 font-size: 1.2rem !important;
}

.navigation {
 background-color: rgb(255, 255, 255);
 width: calc(100% - 250px);
 right: 0;
 top: 0;
 position: fixed;
 height: 70px;
 padding: 10px 15px;
 box-shadow: 0px 4px 5px rgba(44, 44, 44, 0.068);
 display: flex;
 flex-direction: row;
 align-items: center;
 z-index: 2;
}

.username {
 margin-left: 10px;
}

.content-container {
 margin-left: 285px;
 margin-top: 75px;
}

/**  SCROLL BAR */
::-webkit-scrollbar {
 width: 5px;
 height: 5px;
}

::-webkit-scrollbar-track {
 box-shadow: inset 0 0 5px rgb(219, 219, 219); 
 border-radius: 0px;
}

::-webkit-scrollbar-thumb {
 background: #2a6be2; 
 border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
 background: #2b8ce6; 
}

/** SUMMARY CARD  */
.summary-container {
 position: absolute;
 background-color: #2a6be2;
 bottom: 0;
 left: 0;
 width: 100%;
 /* border-bottom-left-radius: 15px;
 border-bottom-right-radius: 15px; */
}

.summary-text {
 text-align: center;
 color: white;
 font-weight: 600;
 font-size: 1.75rem;
}

.bi-2x {
 font-size: 1.25rem;
}

.bi-3x {
 font-size: 1.4rem;
}

.bi-5x {
 font-size: 2.5rem;
}

@media only screen and (max-width: 1050px){
 html {
  font-size: .9rem;
 }

 .sidenav {
   width: 200px;
 }

 .content-container {
   margin-left: 210px;
 }

 .navigation {
   width: calc(100% - 200px);
 }

 .sidenav .logo {
  max-width: 130px;
 }

}

@media only screen and (max-width: 800px){
 .sidenav {
  width: 175px;
 }

 .content-container {
   margin-left: 210px;
 }

 .navigation {
   width: calc(100% - 175px);
 }

 .sidenav .logo {
  max-width: 130px;
 }
}